
body {
    background-color: #151515;
    height: 200vh;
}

.glass {
    position:relative;
  background: rgba(21, 21, 21, 0.9);
}
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .glass {
    background: rgba(21, 21, 21, 0.5);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
  }
}

.logo {
  width: 100px;
  height: 100px;
}
